<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<input type="button" id="login_button" onclick="button_click2();" value="Login"/>

<input type="button" id="encryption" onclick="button_click3();" value="Encryption"/>

<input type="button" id="decryption" onclick="button_click4();" value="Decryption"/>
  <script>

      var rsaKeyInfo;
      var requestInfo;
      var decryptedData;

      function button_click2(){
          fetch("http://localhost:8080/login222", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
              },
              body: JSON.stringify({
                  email: "ownerchef2",
                  password: "owner9809~"
              }),
          })
              .then((response) => response.json())
              .then((data) => rsaKeyInfo=data);
      }

      function button_click3(){
          console.log(rsaKeyInfo);

          var rsaKeyString = JSON.stringify(rsaKeyInfo);
          var rsaParsing = rsaKeyString.split('"');
          var rsaKeyData = rsaParsing[3];//RSA 키 받아오기

          console.log(rsaKeyData);


          fetch("http://localhost:8080/data/en", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
              },
              body: JSON.stringify({
                  rsaKey: rsaKeyData,
                  data: "프론트를 활용한 데이터 암복화화"
              }),
          })
              .then((response) => response.json())
              .then((data) => requestInfo=data);
      }

      function button_click4(){
          console.log(requestInfo)

          var requestString = JSON.stringify(requestInfo);
          var requestParsing = requestString.split('"');
          var encryptedAESKeydata = requestParsing[3];
          var encryptedDatadata = requestParsing[7];

          console.log(encryptedAESKeydata);
          console.log(encryptedDatadata);

          fetch("http://localhost:8080/data/de", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
              },
              body: JSON.stringify({
                  encryptedAESKey: encryptedAESKeydata,
                  encryptedData: encryptedDatadata
              }),
          })
              .then((response) => response.json())
              .then((data) => console.log(data));
      }

  </script>
</body>
</html>