<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
  <!-- 유저가 입력하는 form -->
  <form action="/login" method="post" id="loginForm">
    <fieldset>
      <legend class="screen_out">로그인 폼</legend>

      <label for="email">이메일</label>
      <input type="text" id="email" name="email" autofocus autocomplete="off" required />

      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" autocomplete="off" required />

      <button type="submit">
        <i class="fa fa-sign-in"></i> 로그인
      </button>
    </fieldset>
  </form>

  <!-- javascript lib load -->
  <script type="text/javascript"  src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript"  src="/jsbn.js"></script>
  <script type="text/javascript"  src="/prng4.js"></script>
  <script type="text/javascript"  src="/rng.js"></script>
  <script type="text/javascript"  src="/rsa.js"></script>

  <!-- 유저 입력 form의 submit event 재정의 -->
  <script>
    // Server로부터 받은 공개키 입력
    let rsa;
    rsa = new RSAKey();
    rsa.setPublic("${modulus}", "${exponent}");

    document.getElementById('loginForm').onsubmit = function(){
      this.email = rsa.encrypt(this.email);
      this.password = rsa.encrypt(this.password);

      alert(this.email.value + " " + this.password.value);
    }
  </script>
</body>
</html>